--
-- PostgreSQL database dump
--

\restrict e0d8aKCZRakor2pdadAnuOcGJ8MatWJG2O77YdGeXmfjdU8Zw9FK0jlzHuazfUk

-- Dumped from database version 17.5 (1b53132)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA neon_auth;


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_sync; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.users_sync (
    raw_json jsonb NOT NULL,
    id text GENERATED ALWAYS AS ((raw_json ->> 'id'::text)) STORED NOT NULL,
    name text GENERATED ALWAYS AS ((raw_json ->> 'display_name'::text)) STORED,
    email text GENERATED ALWAYS AS ((raw_json ->> 'primary_email'::text)) STORED,
    created_at timestamp with time zone GENERATED ALWAYS AS (to_timestamp((trunc((((raw_json ->> 'signed_up_at_millis'::text))::bigint)::double precision) / (1000)::double precision))) STORED,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


--
-- Name: gericht; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.gericht (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text,
    tageszeit text,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


--
-- Name: lebensmittel; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lebensmittel (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    kcal numeric(10,2),
    kh numeric(10,2),
    zucker numeric(10,2),
    fett numeric(10,2),
    eiweiss numeric(10,2),
    zustand text,
    anbau text,
    empfehlung text,
    notiz text,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


--
-- Name: lebensmittelProGericht; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."lebensmittelProGericht" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "lebensmittelId" uuid,
    menge integer,
    "gerichtId" uuid
);


--
-- Name: mahlzeit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mahlzeit (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tageszeit text,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


--
-- Name: mengeProGericht; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."mengeProGericht" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "gerichtId" uuid,
    menge integer,
    "mahlzeitId" uuid
);


--
-- Name: mengeProLebensmittel; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."mengeProLebensmittel" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "lebensmittelId" uuid,
    menge integer,
    "mahlzeitId" uuid
);


--
-- Name: users_sync users_sync_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.users_sync
    ADD CONSTRAINT users_sync_pkey PRIMARY KEY (id);


--
-- Name: gericht gericht_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gericht
    ADD CONSTRAINT gericht_pkey PRIMARY KEY (id);


--
-- Name: lebensmittelProGericht lebensmittelProGericht_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."lebensmittelProGericht"
    ADD CONSTRAINT "lebensmittelProGericht_pkey" PRIMARY KEY (id);


--
-- Name: lebensmittel lebensmittel_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lebensmittel
    ADD CONSTRAINT lebensmittel_pkey PRIMARY KEY (id);


--
-- Name: mahlzeit mahlzeit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mahlzeit
    ADD CONSTRAINT mahlzeit_pkey PRIMARY KEY (id);


--
-- Name: mengeProGericht mengeProGericht_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProGericht"
    ADD CONSTRAINT "mengeProGericht_pkey" PRIMARY KEY (id);


--
-- Name: mengeProLebensmittel mengeProLebensmittel_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProLebensmittel"
    ADD CONSTRAINT "mengeProLebensmittel_pkey" PRIMARY KEY (id);


--
-- Name: users_sync_deleted_at_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX users_sync_deleted_at_idx ON neon_auth.users_sync USING btree (deleted_at);


--
-- Name: lebensmittelProGericht gericht_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."lebensmittelProGericht"
    ADD CONSTRAINT gericht_fkey FOREIGN KEY ("gerichtId") REFERENCES public.gericht(id) ON DELETE CASCADE;


--
-- Name: mengeProGericht gericht_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProGericht"
    ADD CONSTRAINT gericht_fkey FOREIGN KEY ("gerichtId") REFERENCES public.gericht(id);


--
-- Name: lebensmittelProGericht lebensmittel_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."lebensmittelProGericht"
    ADD CONSTRAINT lebensmittel_fkey FOREIGN KEY ("lebensmittelId") REFERENCES public.lebensmittel(id);


--
-- Name: mengeProLebensmittel lebensmittel_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProLebensmittel"
    ADD CONSTRAINT lebensmittel_fkey FOREIGN KEY ("lebensmittelId") REFERENCES public.lebensmittel(id);


--
-- Name: mengeProGericht mahlzeit_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProGericht"
    ADD CONSTRAINT mahlzeit_fkey FOREIGN KEY ("mahlzeitId") REFERENCES public.mahlzeit(id);


--
-- Name: mengeProLebensmittel mahlzeit_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."mengeProLebensmittel"
    ADD CONSTRAINT mahlzeit_fkey FOREIGN KEY ("mahlzeitId") REFERENCES public.mahlzeit(id);


--
-- PostgreSQL database dump complete
--

\unrestrict e0d8aKCZRakor2pdadAnuOcGJ8MatWJG2O77YdGeXmfjdU8Zw9FK0jlzHuazfUk

